body{
    background-image: url(https://fametro.edu.br/storage/2021/06/imagem_2021-06-23_103417.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.card{
    background-color: #d9d9d9ab;
}

.form-group{
    outline: none;
}

#email, 
#senha{

    background-color: #d9d9d900;
    outline: none;
    background-color:transparent;
    border: none;
    border-bottom:solid 3px;
    font-size: 1.2rem;
    box-shadow: none;
}

.container{
    margin-top: 6rem;
}

.btn{
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
}

a{
    color: black;
}

.invalid-feedback {
    font-size: 1.2rem
}

/* Barra de navegação */
header, .navbar {
    background-color: #000000;
  }
  
  
  #nav-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  
  .navbar-brand {
    padding: 0;
    color: #FFF;
  }
  
  .navbar-brand:hover {
    color: #FFF;
  }
  
  #navbar-links a {
    color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }